html {
    height: 100%;
    overflow: auto;
}

body {
    background-image: url('background.png');
    background-repeat: repeat;
    background-position: left top;
    height: auto;
    background-color: #646464;
    margin-bottom:8px;
}
.container {
    background-size: 100%;
    max-width: 700px;
    margin:auto;
    height: 100%;
    padding-bottom:2em;
    padding-top:3em;
}

img {
    width: 38%;
    height: 38%;
    float: left;
    margin-right: 1em;
}

h1 {
    color:#0096A7;
    font-weight: 2000;
    font-size: 2.5em;
}
.intro {
    padding-left:2em;
    padding-right:2em;
    color:#646464;
    font-weight:550;
}
.raleway {
    font-family: 'Raleway', sans-serif;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
